* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

/* Navigation starts here */

nav ul li{
  
  padding: 0px 20px;
}
nav ul {
  
}
nav a {
  text-decoration: none;
  color: rgb(68, 68, 68);
}
nav a:hover {
  transition: 1s;
  color: rgb(177, 177, 177);
}nav img{
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

/* --------- */

/* section-1 starts here */

.sec-1 {
  background-image: url('../images/hooli.jpg');
  
}
.pxy {
  padding: 5% 10%;
}
.discover {
  background-color: white;
  width: 380px;
  height: 530px;
}
.habnest-txt {
  color: #e3533f;
}
.sharp-border {
  border: 1px solid #b1b1b1;
  width: 60%;
  height: 35px;
  text-align: center;
  padding-top: 7px;
}
.contact-btn {
  border: 1px solid #e3533f;
  width: 100%;
  height: 35px;
  background-color: #e3533f;
  color: white;
}
/*  --------- */

/* section-2 starts here */

.sec-2 {
  background-image: url('../images/house.jpg');
  min-height: 110vh;
  min-width: 100%;
}
.txts {
  padding-top: 60px;
}
.four-boxes {
  width: 45vh;
  height: 35vh;
}
.lndLord {
  gap: 20px;
  margin: 0 auto 20px;
}
.lnd {
  background-color: aquamarine;
}

.detail {
  background-color: #e3533f;
  border: 1px solid #e3533f;
  border-radius: 10px;
  width: 50%;
  height: 30px;
  color: white;
}

.rental {
  background-color: aquamarine;
}

.rentex {
  background-color: aquamarine;
}
.trstLord {
  background-color: aquamarine;
}
.renterex {
  margin: 0 auto;
  gap: 20px;
  margin-bottom: 60px;
}

/* ------------ */

/* section-3 starts here */

/* four house images */
.first-img-wrapper {
  gap: 30px;
}
.four-imges {
  width: 50vh;
  height: 35vh;
}
.first-img {
  background-image: url('../images/hooli.jpg');
}
.second-img {
  background-image: url('../images/house2.jpg');
}

.third-img {
  background-image: url('../images/hoos.jpg');
}
.forth-img {
  background-image: url('../images/house4.jpg');
}
/* four house images end here */

/* three house images */
.third-img-wrapper {
  gap: 30px;
}
.three-img {
  width: 40vh;
  height: 30vh;
}
.img-1 {
  background-image: url('../images/sieuwert-otterloo-aren8nutd1Q-unsplash.jpg');
}
.img-2 {
  background-image: url('../images/webaliser-_TPTXZd9mOo-unsplash.jpg');
}
.img-3 {
  background-image: url('../images/todd-kent-178j8tJrNlc-unsplash.jpg');
}
.img-wrapper {
  gap: 20px;
  margin: 0 auto;
}
/* three house images end here */

/* section-3 end here */

/* footer */
.icon img {
  width: 50px;
  height: 30px;
  margin-left: 20px;
  margin-top: 10px;
  border-radius: 10px;
}
footer {
  min-height: 10vh;
}
.ftr {
  text-align: center;
  padding-top: 20px;
}
/*  ------------ */
