@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* variables */
:root {
    --primary: #DC5641;
    --medium-primary: #F26138;
    --light-primary: #FFFAF5;
    --gray: #858585;
    --light-gray: #dfdfdf;
    --dark-gray: #333;
    --lighter-gray: #eeeeee;
}
/* reset and global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Poppins;
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
}
input {
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 1.1rem;
    transition: .3s;
}
button {
    outline: none;
    border: none;
    font-size: 1.3rem;
    transition: .3s;
    cursor: pointer;
}
.hidden {
    display: none;
    visibility: hidden;
}
input[type='search']::-webkit-search-cancel-button {
    display: none;
}
.highlighted {
    background-color: var(--medium-primary);
    color: white;
}
/**** layout ****/
.wrapper {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}
/* Admin - Login */
.wrapper-login {
    max-width: 500px;
    padding: 8em 0;
    text-align: center;
}
.wrapper-login h1 {
    margin-bottom: .5em;
    span {
        color: var(--medium-primary);
    }
}
.wrapper-login form {
    border: 2px solid var(--light-gray);
    display: flex;
    flex-direction: column;
    padding: 1em 1.5em;
}
.wrapper-login h2 {
    color: var(--medium-primary);
    font-size: 2em;
    line-height: 1.1;
    margin-bottom: .7em;
}
.wrapper-login .input-field {
    position: relative;
    background-color: var(--light-gray);
    margin-bottom: .83em;
}
.wrapper-login input {
    width: 100%;
    height: 100%;
    padding: .6em 1.3em;
    border: 2px solid transparent;
}
.wrapper-login input:focus {
    border: 2px solid var(--medium-primary);
}
.wrapper-login label{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1.3em;
    transition: top .3s;
    background-color: transparent;
    padding: 0 2px;
}
.wrapper-login input:focus + label,
.wrapper-login input:not(:placeholder-shown) + label {
    background: linear-gradient( white 10%, var(--light-gray) 100%);
    top: 0;
}
.show-pwd,
.error-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1.3em;
    font-size: 1.1rem;
}
.show-pwd {
    color: #333;
    cursor: pointer;
}
.error-icon {
    color: red;
    visibility: hidden;
}
.error-msg {
    background-color: red;
    color: #fff;
    padding: 0 .8em;
    position: absolute;
    bottom: 0;
    transform: translateY(calc(100% + 5px));
    z-index: 100;
}
.error-msg::after {
    content: '';
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid red;
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    left: .3em;
}
input.errorMode {
    border-color: red !important;
}
input.errorMode ~ .error-icon {
    visibility: visible;
}
.wrapper-login button {
    background-color: var(--primary);
    padding: .3em 0;
    margin: .3em 0;
}
.wrapper-login button:hover {
    background-color: var(--medium-primary);
}


/* Dashboard - admin */
.wrapper-dashboard {
    width: 100%;
    min-height: 100dvh;
    display: grid;
    background-color: var(--lighter-gray);
    grid-template-columns: 1fr;
    @media(min-width: 992px){
        grid-template-columns: 1fr 4fr;
    }
}
/* dashboard sidebar */
.dashboard_sidebar {
    position: sticky;
    bottom: 0;
    order: 1;
    width: 100%;
    background-color: var(--light-gray);
    z-index: 10001;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em 0;
    @media(min-width: 992px){
        display: block;
        position: relative;
        order: 0;
        padding: 1.5em .7em;
        border-right: 2px solid var(--light-gray);
        height: 100vh;
        background-color: white;
    }
}
.dashboard_sidebar ul {
    display: flex;
    gap: 2em;
    list-style: none;
    justify-content: center;
    @media(min-width: 992px){
        flex-direction: column;
        gap: 1.2em;
    }
}
.dashboard_sidebar li {
    cursor: pointer;
    padding: .5em .8em;
    transition: .3s;
    border-radius: 10px;
}
.dashboard_sidebar li.active {
    @media(min-width: 768px){
        background-color: var(--primary);
    }
}
.dashboard_sidebar li:hover {
    @media(min-width: 768px) {
        background-color: var(--medium-primary);
    }
}
.dashboard_sidebar li:hover a {
    @media(min-width: 768px) {
        color: white;
    }
}
.dashboard_sidebar a {
    color: var(--dark-gray);
    position: relative;
    text-decoration: none;
    @media(min-width: 768px) {
        padding-left: 2.4em;
        display: flex;
    }
}
.dashboard_sidebar li.active a {
    color: var(--medium-primary);
    @media(min-width: 768px){
        color: white;
    }
}
.dashboard_sidebar .nav-icon {
    font-size: 1.5rem;
    transition: .3s;
    @media(min-width: 768px) {
        left: 1em;
        top: 50%;
        transform: translate(-50%,-50%);
        font-size: 1rem;
        position: absolute;
    }
}
.dashboard_sidebar .nav-name {
    display: none;
    @media(min-width: 768px){
        display: block;
    }
}
/* logout btn */
.logout-btn {
    @media(min-width: 768px) {
        background-color: red !important;
        &hover {
            background-color: darkred !important;
        }
    }
}
.logout-btn a,
.logout-btn i {
    color: red !important;
    @media(min-width: 768px){
        color: white !important;
    }
}
.admin-info {
    display: none;
    @media(min-width: 992px){
        display: block;
        color: var(--gray);
        position: absolute;
        bottom: 1em;
        font-size: 1.1rem;
        white-space: nowrap;
        left: 50%;
        transform: translateX(-50%);
        span {
            color: var(--medium-primary);
        }
    }
}
/* dashboard content */
.dashboard_card {
    background-color: #fff;
    border: 2px solid var(--light-gray);
    border-radius: 10px;
}
.dashboard_content {
    overflow: auto;
    scrollbar-width: none; 
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    @media(min-width: 992px) {
        height: 100vh;
    }
}
.dashboard_content::-webkit-scrollbar {
    display: none;
}
.dashboard_header {
    padding: .5em 0;
    border-bottom: 2px solid var(--light-gray);
    text-align: center;
    margin-bottom: 2em;
}
.dashboard_header h2 span{
    color: var(--medium-primary);
}
.section_body {
    width: 90%;
    margin: 0 auto;
}
/* home section*/
/* dashboard statistics */
.dashboard_statistics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .7em;
    @media(min-width: 768px) {
        display: flex;
    }
}
.stats_card {
    padding: 1em 2em;
    @media(min-width: 768px) {
        width: 200px;
    }
}
.stats-icon {
    margin-bottom: .5em;
    font-size: 1.2rem;
}
.stats_number {
    color: var(--dark-gray);
}
.stats_title {
    color: var(--gray);
    margin-top: .5em;
}

/* recent listings */
.dashboard_recent-listings {
    margin: 1.5em 0;
    max-height: 400px;
    display: flex;
    flex-direction: column;
}
.dashboard_recent-listings h3 {
    font-size: 1.3rem;
    margin-bottom: .5em;
    padding: .6em 0 0 1.3em;
}
.dashboard_recent-listings .thead {
    border-bottom: 1px solid var(--light-gray);
}
.dashboard_recent-listings .thead p{
    color: var(--gray);
}
.dashboard_recent-listings .row {
    display: grid;
    padding: 1.3em 1em;
    grid-template-columns: 1fr 1fr;
    padding: .5em;
    place-items: center;
    @media(min-width: 768px){
        grid-template-columns: repeat(4, 1fr);
        text-align: start;
    }
}
.dashboard_recent-listings .row p {
    font-size: 1rem;
}
.dashboard_recent-listings .row p:nth-of-type(3),
.dashboard_recent-listings .row p:last-of-type {
    display: none;
    @media(min-width: 768px) {
        display: block;
    }
}
.dashboard_recent-listings .tbody {
    overflow: auto;
    scrollbar-gutter: stable;
    scrollbar-width: thin;
    scrollbar-color: var(--light-gray) transparent;
}
.dashboard_recent-listings .tbody h2 {
    color: var(--dark-gray);
    margin-bottom: .5em;
}
.dashboard_recent-listings .tbody .row_body {
    border-bottom: 1px solid var(--light-gray);
}
.dashboard_recent-listings .tbody .row_body:last-of-type {
    border: none;
}
/* ppties section */
#properties {
    padding: 1em 0;
}
#properties .section_title {
    margin-bottom: .7em;
    font-size: clamp(1.4rem, 3vw, 1.58rem);
}
.search_table {
    padding: 2em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .8em;
    @media(min-width: 881px) {
        flex-direction: row;
        justify-content: flex-start;
    }
}
.search_table .search-bar {
    position: relative;
}
.search_table .search-icon {
    pointer-events: none;
    position: absolute;
    color: var(--gray);
    left: .5em;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
}
.search_table input {
    width: 100%;
    height: 100%;
    padding: .4em 2em;
    border: 2px solid var(--light-gray);
    border-radius: 5px;
    font-size: 1.15rem;
    &:focus {
        border-color: var(--gray);
    }
    @media(min-width: 768px){
        padding: .4em 3em .4em 2em;
    }
}
.filter_table {
    display: flex;
    gap: .5em;
}
.select {
    border: 2px solid var(--light-gray);
    border-radius: 5px;
    position: relative;
    font-size: 1rem;
    cursor: pointer;
}
.filter_table .select {
    margin-left: .5em;
}
.selected {
    padding: .3em .6em;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: .4em;
}
.options {
    position: absolute;
    border: 2px solid var(--light-gray);
    border-top: none;
    border-radius: 5px;
    display: none;
    min-width: 100%;
    z-index: 1000;
}
.options.open {
    display: block;
}
.option {
    padding: 0 .6em;
    white-space: nowrap;
    background-color: white;
    border-top: 2px solid var(--light-gray);
    cursor: pointer;
    transition: .3s;
    &:hover {
        background-color: var(--gray);
        color: white;
    }
}

/* properties table */
.properties_table {
    margin: 1em 0;
    @media(min-width: 768px){
        background-color: #fff;
        border: 2px solid var(--light-gray);
        border-radius: 10px;
        padding: 1em 0;
    }
}
.properties_table .row {
    @media(max-width: 767px){
        display: flex;
        flex-direction: column;
        background-color: #fff;
        box-shadow: 0 0 10px var(--light-gray);
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 1em;
        position: relative;
        p {
            padding: .2rem 1.5rem;
        }
        .property_name {
            font-size: 1.3rem;
            font-weight: bold;
            order: -5;
            line-height: 1.1;
        }
        .property_address,
        .property_status {
            order: -4;
            font-size: 1.15rem;
            color: var(--gray);
            margin-bottom: .5em;
            background-color: transparent;
            width: fit-content;
        }
         [data-status='rented'] {
            color: red;
        }
        .property_status[data-status='available'] {
            color: green;
        }
        .property_landlord,
        .property_location {
            display: none;
        }
        .actions {
            border-top: 1px solid var(--light-gray);
            padding: .7em .9em;
            display: flex;
            justify-content: flex-end;
        }
        .action {
            display: flex;
            align-items: center;
            gap: .5em;
            font-size: 1rem;
            padding: .2em .8em;
            border-radius: 5px;
            color: var(--dark-gray);
            cursor: pointer;
        }
        .action:first-of-type {
            transition: .3s;
            color: #fff;
            background-color: rgb(29, 95, 182);
        }
        .action:nth-of-type(2) {
            transition: .3s;
            color: #fff;
            background-color: green;
        }
        .action:first-of-type .view-icon {
            color: #fff;
            background-color: transparent;
            padding: 0;
        }
        .action:nth-of-type(2) .edit-icon {
            color: #fff;
            background-color: transparent;
            padding: 0;
        }
        .action:last-of-type {
            transition: .3s;
            color: #fff;
            background-color: red;
        }
        .delete-icon {
            color: #fff;
            background-color: transparent;
            padding: 0;
        }
    }
    @media(min-width: 768px) {
        .action_title {
            display: none;
        }
        display: grid;
        padding: .5em 2em;
        background-color: transparent;
        box-shadow: none;
        border-radius: 0;
        margin-bottom: 0;
        grid-template-columns: repeat(5, 1fr);
        place-items: center;
    }
    
}
.properties_table .thead {
    border-bottom: 1px solid var(--light-gray);
    font-size: 1.13rem;
    color: var(--gray);
    display: none; 
    @media(min-width: 768px) {
        display: block;
    }
}
.properties_table .tbody .row:not(.row:last-of-type) {
    border-bottom: 1px solid var(--light-gray);
}
.properties_table .ppty-img {
    order: -6;
}
.properties_table img {
    width: 100%;
    height: 200px;
    object-fit: cover;
   @media(min-width: 768px) {
    width: 60px;
    height: 50px;
    border-radius: 5px;
    }
}
.property_status {
    color: #fff;
    width:55%;
    min-width: fit-content;
    text-align: center;
    border-radius: 5px;
    padding: 0 .2em;
}
.property_status[data-status = 'rented'] {
    background-color: red;
}
.property_status[data-status = 'available'] {
    background-color: green;
}
.actions {
    color: var(--gray);
    display: flex;
    gap: .7em;
    .action {
        font-size: 1.1rem;
        transition: .3s;
        cursor: pointer;
    }
    i {
        padding: .4rem .6rem;
        border-radius: 5px;
    }
}
.view-icon {
    background-color: rgb(36, 120, 230);
    color: white;
    &:hover {
        background-color: rgb(29, 95, 182);
    }
}
.delete-icon {
    background-color: rgba(255, 0, 0, 0.75);
    color: white;
    &:hover {
        background-color: red;
    }
}
.edit-icon {
    background-color: rgba(0, 128, 0, 0.863);
    color: white;
    padding: .3em;
    &:hover {
        background-color: green;
    }
}
.properties_table .page-controls {
    display: flex;
    justify-content: center;
    gap: .8em;
    font-size: 1.2rem;
}
.properties_table .current-page {
    font-weight: bold;
}
.properties_table .control {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--gray);
    gap: .5em;
    transition: .3s;
    &:hover {
        color: #000;
    }
}
.modal {
    display: none;
    position: relative;
    overflow: hidden;
    width: 90%;
    max-width: 400px;
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    padding: .8em;
    z-index: 100000;
}
.modal.active {
    display: block;
}
.modal-delete-ppty p,
.modal-delete-landlord p {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: .8em;
}
.modal-delete-ppty .modal-btns,
.modal-delete-landlord .modal-btns {
    display: flex;
    gap: .7em;
    font-size: 1.1rem;
}
.modal-delete-ppty .modal-btn,
.modal-delete-landlord .modal-btn {
    padding: .1em .8em;
    border-radius: 5px;
    transition: .3s;
    cursor: pointer;
}
.modal-delete-ppty .delete-modal,
.modal-delete-landlord .delete-modal {
    background-color: rgba(255, 0, 0, 0.85);
    color: white;
    &:hover {
        background-color: red;
    }
}
.modal-delete-ppty .close-modal,
.modal-delete-landlord .close-modal {
    background-color: #575757;
    color: white;
    &:hover {
        background-color: var(--dark-gray);
    }
}
.modal.active ~ .layer {
    background-color: #a0a0a065;
    backdrop-filter: blur(2px);
    width: 100%;
    height: 100dvh;
    position: fixed;
    z-index: 10002;
}
/* landlords management section */
#landlords {
    padding-bottom: 1em;
}
.section_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .7em;
}
.add-landlords-btn {
    padding: .4em 1.2em;
    background-color: var(--medium-primary);
    color: white;
    display: flex;
    gap: .5em;
    cursor: pointer;
    align-items: center;
    border-radius: 5px;
    font-size: 1.15rem;
    transition: .3s;
    div {
        display: none;
        @media(min-width: 768px) {
            display: block;
        }
    }
    &:hover {
        background-color: var(--primary);
    }
}
/* search landlords */
.landlords_search {
    margin: 1em 0;
}
.landlords_table {
    padding: 1em 0;
    min-height: 350px;
    overflow-x: auto;
    scrollbar-gutter: stable;
    scrollbar-width: thin;
    scrollbar-color: var(--light-gray) transparent;
}
.landlord_name_and_pfp {
    position: relative;
    width: 100%;
    position: relative;
    padding-left: calc(50px + 2em);
}
.landlords_table img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    position: absolute;
    left: 1em;
    top: 50%;
    transform: translateY(-50%);
}
.landlords_table .row {
    display: grid;
    grid-template-columns: 1.5fr repeat(4, 1fr);
    padding: 1em;
    place-items: center;
    min-width: 670px;
}
.landlords_table .thead .row {
    color: var(--dark-gray);
    font-size: 1.1rem;
    border-bottom: 1px solid var(--light-gray);
}
.landlords_table .row:not(.row:last-of-type) {
    border-bottom: 1px solid var(--light-gray);
}
/* add landlords modal */
.modal-landlords h2 {
    color: var(--primary);
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: .5em;
}
.modal-landlords .close-modal {
    background-color: red;
    padding: .3em .5em;
    font-size: 1.2rem;
    color: white;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0 5px 0 5px;
    cursor: pointer;
}
.modal-landlords form {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
}
.modal-landlords .userInput {
    margin-bottom: .5em;
}
.modal-landlords .input-field {
    position: relative;
}
.modal-landlords .input-field i:not(#showPwd) {
    position: absolute;
    left: .5em;
    top: 50%;
    font-size: 1.13rem;
    transform: translateY(-50%);
    pointer-events: none;
    color: var(--dark-gray);
    transition: .2s;
}
.modal-landlords #showPwd {
    right: .5em;
}
.modal-landlords input {
    padding: .5em 1.2em .5em 2.1em;
    width: 100%;
    height: 100%;
    color: var(--dark-gray);
    font-size: 1.15rem;
    &:focus {
        border-bottom: 2px solid var(--primary);
    }
}
.modal-landlords input:not([type = "file"]) {
    border-bottom: 2px solid var(--light-gray);
}
.modal-landlords input:focus + i:not(#showPwd) {
    color: var(--primary);
}
.modal-landlords input.errorMode{
    border-color: red;
}
.modal-landlords input.errorMode + i:not(#showPwd) {
    color: red;
}
.modal-landlords button {
    padding: .3em 0;
    background-color: var(--primary);
    margin: .5em 0 .3em;
    &:hover {
        background-color: var(--medium-primary);
    }
}
.modal-landlords .errors {
    margin: .1em 0;
    width: 100%;
    p {
        color: red;
    }
}

/* status msg */
.status {
    position: fixed;
    top: 2rem;
    right: 1.1rem;
    padding: .4em .8em;
    font-size: 1rem;
    color: #fff;
    z-index: 10000000;
    visibility: hidden;
    display: flex;
    align-items: center;
    gap: .5em;
    border-radius: 5px;
}
.status.success {
    background-color: green;
    visibility: visible;
    box-shadow: 0 0 10px rgb(0, 175, 0);
}
.status.error {
    background-color: red;
    box-shadow: 0 0 10px rgb(255, 20, 20);
    visibility: visible;
}

/* add properties section */
#add-properties {
    margin-bottom: 2em;
}
#add-properties .section_title{
    margin-bottom: .7em;
}
#addNewPptyForm {
    padding: .8em;
    overflow: hidden;
}
#addNewPptyForm .flex-container {
    display: flex;
    flex-direction: column;
    @media(min-width: 992px) {
        flex-direction: row;
        justify-content: space-between;
    }
}
.ppty-data {
    margin-bottom: .6em;
    @media(min-width: 992px) {
        width: 48%;
        margin-bottom: 0;
    }
}
#addNewPptyForm h3 {
    margin-bottom: .6em;
}
#addNewPptyForm .userInput {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    gap: .3em;
}
#addNewPptyForm .input-field,
#addNewPptyForm .userInput {
    position: relative;
}
#addNewPptyForm label {
    color: var(--dark-gray);
    margin-bottom: .3em;
}
#addNewPptyForm .input-field input,
#addNewPptyForm .input-field textarea {
    width: 100%;
    height: 100%;
    padding: .5em 0 .3em 2em;
    font-size: 1.05rem;
    border: 2px solid var(--light-gray);
    border-radius: 5px;
}
.descInputContainer {
    height: 10rem;
}
#addNewPptyForm .input-field textarea {
    outline: none;
    resize: none;
    font-family: inherit;
    padding-right: .7em;
}
#addNewPptyForm .input-field input:hover,
#addNewPptyForm .input-field textarea:hover,
#addNewPptyForm .input-field input:focus,
#addNewPptyForm .input-field textarea:focus {
    border-color: var(--gray);
}
#addNewPptyForm .input-field i {
    position: absolute;
    left: 1em;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--gray);
}
#addNewPptyForm label[for = "property_description"] + .input-field i {
    top: 1.4em;
}
#addNewPptyForm .group-input {
    display: flex;
    align-items: center;
    gap: .5em;
}
#addNewPptyForm .group-input .userInput:first-of-type {
    flex: 1;
}
#addNewPptyForm .location-map {
    height: 300px;
    position: relative;
}
#addNewPptyForm .location-map::after {
    content: '';
    position: absolute;
    bottom: -7px;
    width: 110%;
    height: 27px;
    left: -8px;
    background-color: #fff;
    z-index: 10000;
}
#addNewPptyForm .location-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#addNewPptyForm .longitude,
#addNewPptyForm .latitude {
    width: 49%;
}
#addNewPptyForm .location-box {
    background-color: var(--light-gray);
    color: #000;
    padding: .2em .5em;
    font-size: 1.1rem;
    margin-top: .3em;
    overflow: hidden;
}
#addNewPptyForm .ppty-media {
    display: flex;
    flex-direction: column;
}
#addNewPptyForm .uploaded-media {
    display: flex;
    flex-direction: column;
    margin-top: .8em;
}
#addNewPptyForm .uploaded-media .imgs {
    display: flex;
    align-items: center;
    gap: .7em;
    margin-top: .5em;
    flex-wrap: wrap;
}
#addNewPptyForm .uploaded-image {
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
    width: 130px;
    height: 110px;
    border: 1px solid var(--light-gray);
    box-shadow: 0 0 10px #ccc;
    background-color: var(--lighter-gray);
    @media(max-width: 768px){
        width: calc(50% - .35em);
        height: 130px;
    }
}
.uploaded-image .badge {
    color: #fff;
    background-color: var(--medium-primary);
    padding: 0 .6em;
    position: absolute;
    top: .5em;
    left: .5em;
    border-radius: 5px;
}
#addNewPptyForm .layer {
    width: 100%;
    height: inherit;
    background-color: #18181815;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .4em;
    transition: .2s;
    position: absolute;
    top: 0;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    z-index: 1;
}
.layer-btn {
    border-radius: 5px;
    transition: .2s;
    width: 80%;
    text-align: center;
}
#addNewPptyForm .layer .cover-btn {
    background-color: #fff;
}
#addNewPptyForm .layer .delete-btn {
    background-color: red;
    color: #fff;
}
.layer-btn:hover {
    opacity: .8;
}
#addNewPptyForm .uploaded-media img {
    width: 100%;
    height: inherit;
    object-fit: cover;
    border-radius: 5px;
}
#addNewPptyForm .uploaded-image:hover .layer {
    opacity: 1;
    pointer-events: all;
}
#upload-media {
    display: none;
}
#addNewPptyForm label[for="upload-media"] {
    width: 100%;
    height: 100px;
    border: 2px dashed var(--medium-primary);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: .3s;
    background-color: rgba(255, 0, 0, 0.068);
    &:hover {
        background-color: rgba(255, 0, 0, 0.123);
    }
}
#addNewPptyForm label[for="upload-media"].inactive {
    opacity: .7;
    pointer-events: none;
}
#addNewPptyForm label[for="upload-media"] i {
    color: var(--primary);
    font-size: 2rem;
}
#addNewPptyForm button {
    background-color: var(--primary);
    padding: .3em 0;
    font-size: 1.15rem;
    color: #fff;
    transition: .3s;
    margin-top: 1em;
    width: 100%;
    border-radius: 5px;
    &:hover {
        background-color: var(--medium-primary);
    }
}

/* chracter count - ppty description */
.charcount {
    position: absolute;
    bottom: .7em;
    right: .7em;
}
.charcount .count {
    color: var(--gray);
}
.count.max {
    color: var(--medium-primary);
}
.charcount .maxcharlength {
    color: var(--medium-primary);
}
/* add ppty errors */
.ppty-error {
    color: #fff;
    background-color: #ff0000b3;
    border-radius: 5px;
    padding: .2em .6em;
    text-align: center;
    width: fit-content;
    position: absolute;
    top: 100%;
    z-index: 999;
}
.ppty-error::after {
    content: '';
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #ff0000b3;
    position: absolute;
    top: 0;
    left: .5em;
    transform: translateY(-100%);
}

